<div class="comment">
    <p class="blocktitle">Комментарии</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <p class="out"> @Html.ActionLink("Войти", "SignIn", "User", null, new { })</p>
    }
</div>
<form name="comment" action="#" method="post">
    <p>
        <textarea id="textcomment" name="text_comment" cols="10" rows="20" class="massagesend" placeholder="Напишете ваш комментарий..."></textarea>
    </p>
    <p>
        <input type="hidden" name="page_id" value="150" />
        @if (User.Identity.IsAuthenticated)
        {
            <a href="#" class="addcommentbutton" id="submitcomment">Опубликовать</a>
        }
        @if (!User.Identity.IsAuthenticated)
        {
            <a href="#" class="addcommentbuttondesable" id="errormassegecomment">Опубликовать</a>
            <div class="editor-field displaynone" id="commenterror">
                <p class="validation-summary-errors" >Войдите, чтобы отправить комментарий</p>
            </div>
        }
    </p>
        
</form>
<div class="massagescontainer">
    <div class="massagecontainer">
        <div class="messagehead">
            <p class="massagename">John Snow</p>
            <p class="massagedate">вчера, в 22:26</p>
        </div>
        <p class="massagetext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat assumenda adipisci, amet facilis doloribus quaerat voluptates officiis sapiente, animi quam, consequuntur odit delectus. Maxime, aliquam quis voluptatum mollitia repellendus explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit odio illum nisi dolore minus dolores sapiente sit? Fugiat atque reiciendis enim laborum ullam officia esse omnis molestias non mollitia!</p>
    </div>
    <div class="massagecontainer">
        <p class="massagename">John Snow</p>
        <p class="massagetext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat assumenda adipisci, amet facilis doloribus quaerat voluptates officiis sapiente, animi quam, consequuntur odit delectus. Maxime, aliquam quis voluptatum mollitia repellendus explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit odio illum nisi dolore minus dolores sapiente sit? Fugiat atque reiciendis enim laborum ullam officia esse omnis molestias non mollitia!</p>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script>

    let submiterror = document.getElementById("errormassegecomment");
    let errormassage = document.getElementById("commenterror");
    submiterror.addEventListener("click", () => {
        errormassage.classList.remove('displaynone');
        errormassage.classList.add('displayblock');
    });

        @*$(document).ready(function () {
    $('#submitcomment').click(function (e) {
        e.preventDefault();
        let text = $('#textcomment').val();
        name=encodeURIComponent(name);
        $('#results').load('@Url.Action("BookSearch", "Home")?name='+name)
    });
});*@

    $(document).ready(function () {
        $.ajax({
          url: @Url.Action("Test","Home"),
          success: function(){
            alert('Load was performed.');
          }
        });
    });

</script>