<div class="comment">
    <p class="blocktitle">Комментарии</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <p class="out"> @Html.ActionLink("Войти", "SignIn", "User", null, new { })</p>
    }
</div>
<form name="comment" action="#" method="post">
    <p>
        <textarea id="textcomment" name="text_comment" cols="10" rows="20" class="massagesend" placeholder="Напишете ваш комментарий..."></textarea>
    </p>
    <p>
        <input type="hidden" name="page_id" value="150" />
        @if (User.Identity.IsAuthenticated)
        {
            <a href="#" class="addcommentbutton" id="submitcomment">Опубликовать</a>
        }
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="editor-field" id="commenterror">
                <p class="validation-summary-errors" >Войдите, чтобы оставить комментарий</p>
            </div>
        }
    </p>
        
</form>
<div class="massagescontainer" id="massagescontainer">
    <div class="massagecontainer">
        <div class="messagehead">
            <p class="massagename">John Snow1</p>
            <p class="massagedate">вчера, в 22:26</p>
        </div>
        <p class="massagetext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat assumenda adipisci, amet facilis doloribus quaerat voluptates officiis sapiente, animi quam, consequuntur odit delectus. Maxime, aliquam quis voluptatum mollitia repellendus explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit odio illum nisi dolore minus dolores sapiente sit? Fugiat atque reiciendis enim laborum ullam officia esse omnis molestias non mollitia!</p>
    </div>
    <div class="massagecontainer">
        <div class="messagehead">
            <p class="massagename">John Snow2</p>
            <p class="massagedate">вчера, в 22:26</p>
        </div>
        <p class="massagetext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat assumenda adipisci, amet facilis doloribus quaerat voluptates officiis sapiente, animi quam, consequuntur odit delectus. Maxime, aliquam quis voluptatum mollitia repellendus explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit odio illum nisi dolore minus dolores sapiente sit? Fugiat atque reiciendis enim laborum ullam officia esse omnis molestias non mollitia!</p>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script>

    let submitcomment = document.getElementById("submitcomment");
    let textcomment = document.getElementById("textcomment");
    let massagescontainer = document.getElementById("massagescontainer");
    textcomment.addEventListener("change", () => {
        if (isEmpty(textcomment.value)) {

        }
    })
    submitcomment.addEventListener("click", (e) => {
        e.preventDefault();
            $.ajax({
                url: "@Url.Action("_GameCommentPartial", "Game")",
                type: "POST",
                data: JSON.stringify({ value: textcomment.value, gameId: @ViewBag.id }),
                contentType: "application/json",
                success: (data) => {
                    massagescontainer.insertAdjacentHTML("beforeend",
                        `<div class="massagecontainer">
                            <div class="messagehead">
                                <p class="massagename">${data.author}</p>
                                <p class="massagedate">${data.date}</p>
                            </div>
                            <p class="massagetext">${data.text}</p>
                        </div>
                        `
                    );
                    textcomment.value = "";
                },
            })
        } 
    })
    function isEmpty(str) {
        if (str.trim() == '')
            return true;
        return false;
    }
</script>