@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Order completed";
}
<div class="ordercomplet"> 
    <p>Вы приобрели игру, спасибо за покупку!</p>
    <p>Ключ активации направлен на указанный вами email</p>
</div>