@{
    Layout = null;
}
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Order completed";
}
<div class="ordercomplet"> 
    <p>Вы приобрели игру, спасибо за покупку!</p>
    <p>Ключ активации направлен на указанный вами email</p>
</div>
<script src="~/Scripts/workWithCookie.js" type="text/javascript"></script>
<script>
    deleteCookie("CartProducts");
</script>