
/* layout */
* {
    margin: 0;
    padding: 0;
    font-family: Play,Arial,sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 15px;
    line-height: 1.4;
    font-family: Play,Arial,sans-serif;
     overflow-x: hidden;
}
/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 70px;
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.footer {
    flex: 0 0 auto;
    background: #0d0e10;
    display: flex;
    justify-content: center;
    color: hsla(0,0%,100%,.3);
    padding-bottom: 40px;
    padding-top: 40px;
}

.nav {
    display: flex;
    font-family: Play,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    justify-content: center;
    height: 100%;
}

.nav a:hover {
    color: #ff783a;
    transition: 0.5s;
}

.wrapper2 {
    width: 80%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper2 a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 100%;
    color: black;
}

.menu-wrapper {
    display: flex;
    height: 100%;
    width: 65%;
}
.menu-wrapper a {
    margin-right: 15px;
    color: black;
}

.icon {
    background-color: white;
    object-fit: cover;
    width: 100%;
    background-image: linear-gradient(to left, transparent, transparent 50%, #ff4148 50%, #ff793a);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .10s ease-in;
}

.logo {
    object-fit: cover;
    width: 50px;
    height: 50px;
    max-width: 100%;
    object-fit: cover;
    margin: 0;
    padding-right: 5px;
}
.menu-wrapper p {
    margin-left: 10px;
    margin-right: 50px;
}

.icon-wrapper {
    display: flex;
    height: 100%;
    width: 18%;
}

.icon:hover {
    background-position: 0 0;
}

.icon.border {
    border-right: 1px solid #e1e2e3;
    border-left: 1px solid #e1e2e3;
    background-color: #f9f8f8;
}
.menu{
    width: 70px;
}

.header {
    font-weight: bold;
}

input {
    width: 150px;
}

.main .wrapper2 {
    justify-content: center;
    align-self: flex-start;
}

.footer-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.footer-column > p {
    padding-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #242425;
    flex-wrap: wrap;
    width: 100%;
}

.footer-item {
    font-size: 11px;
    font-weight: 600;
    font-family: Play,Arial,sans-serif;
    line-height: 16px;
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.footer-item img {
    width: 35px;
    border: 0;
    margin-right: 10px;
    max-width: 100%;
}

footer .wrapper2 {
    position: relative;
}

@media only screen and (max-width : 1200px) {
    .footer-column {
        width: 80%;
    }
}

@media (min-width: 1050px) and (max-width:1280px) {
    .footer-column {
        width: 70%;
    }

    .footer .wrapper2 {
        justify-content: center;
    }

    .footer-column > p {
        padding-top: 20px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .menu-wrapper .active-medium {
        display: none;
    }

    .footer .wrapper2 {
        justify-content: center;
    }

    .footer-column > p {
        padding-top: 20px;
        font-size: 12px;
    }

    .footer-item {
        padding-bottom: 20px;
        margin-right: 0;
        font-size: 12px;
    }

    .footer-item img {
        width: 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .menu-wrapper .active-small {
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .catalog-container {
        width: 300px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
/* layout */

.signupcontainer{
    display:flex;
    flex-direction:column;
}
.userimg {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
/*Catalog*/
.catalog-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 20px 0px;
}

.catalog-item {
    background-color: white;
    flex: 1 0 auto;
    width: 100%;
    padding: 17px 20px;
    margin-bottom: 3px;
}
.catalog-item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.catalog-item.order:hover {
    box-shadow: none;
}
.catalog-item:hover .game-title {
    color: tomato;
     transition: 0.3s;
}
.catalog-img {
    width: 150px;
}

.catalog-img img {
    width: 150px;
    height: 70px;
    object-fit: cover;
}

.catalog-name {
    width: 300px;
    padding-left: 27px;
    max-width: 300px;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.7;
}

.catalog-price {
    width: 300px;
    text-align: right;
}

.catalog-price span {
    padding-right: 5px;
    font-size: 18px;
    font-weight: 700;
    height: 13px;
}

.catalog-price img {
    height: 13px;
}

.catalog-category {
    display: flex;
    align-items: center;
}

.catalog-category img {
    padding: 2px;
    width: 20px;
    height: 20px;
    object-fit: cover;
    box-sizing: unset;
    margin-right: 5px;
}

.catalog-category p {
    color: #969696;
    font-size: 14px;
}
.gamecategory {
    border: 2px solid silver;
    border-radius: 50%;
}
.game-sort {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 3px;
    color: hsla(0,0%,8%,.6);
    line-height: 1.42857143;
    font-weight: 400;
    border-bottom: 2px solid #ddd;
    padding: 17px 20px 0px 20px;
}

.game-sort-item {
    padding-right: 30px;
    height: 100%;
    padding: 10px 20px 10px 20px;
    border-bottom: 2px solid #ddd;
    position: relative;
    top: 2px;
}

.game-sort-item:hover {
    border-bottom: 2px solid tomato;
    cursor: pointer;
}
.active {
    border-bottom: 2px solid tomato;
}
.addgamelink{
   padding: 5px;
   width:150px;
}
.addlinkbutton{
    margin-top: 10px;
    background-color: tomato;
    margin-right:10px;
    border-radius: 3%;
}
.catalogtitle{
    font-size:20px;
    padding-top: 20px;
    margin: 0;
}
/*Catalog*/
.login {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}
.addgametextarea {
    resize: none;
    min-height: 100px;
    max-height: 600px;
    width: 300px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}
.addgameform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
    background: white;
    padding: 50px 40px;
    margin: 20px 0;

}
.addgameform h3 {
    text-align: center;
    color: #e06060;
}
.addgameform input{
    width: 300px;
}
.addgamebutton {
    background-color: #0d0e10;
    text-decoration: none;
    margin-top: 20px;
    
}
.addgameform input[type=submit] {
    padding: 6px 12px;
    background-color: #0d0e10;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
}
.wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.authheader {
    color: #e06060;
}
.forminput {
    border: 1px solid #ccc;
    padding: 6px 12px;
    margin-bottom: 10px;
    background-color: inherit;
}
input[type="file"] {
  display:none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    background-color: inherit;
    color: grey;
    width: 300px;
    font-weight: normal;
}
/*Game profile*/
.gameprofile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-top: -460px;
}

.background-image {
    width: 100vw;
    height: 500px;
    background-image: url(images/background.jpg); 
    background-repeat: no-repeat;
    filter: brightness(0.7);
    background-size: cover;
    background-attachment: fixed;
}
.background-img {
    width: 100vw;
    height: 500px;
    object-fit: cover;
    filter: brightness(0.7);
}
.gameProfileItem {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gameprofile-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin-right: 30px;
}

.gameprofile-right {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.gameprofile-right-item {
    background-color: white;
    margin-bottom: 20px;
    padding: 40px 43px;
    font-size: 14px;
    color: #111;
    padding: 40px 43px;
    font-weight: 400;
}

.blocktitle {
    font-family: Play,Arial,sans-serif;
    font-weight: 700;
    color: #0d0d0d;
    font-size: 18px;
    margin-bottom: 25px;
}

.profileimage {
    overflow: hidden;
    width: 100%;
}

.profileimage img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    min-width: 370px;
    min-height: 470px;
}

.profileimage img:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

.gameprofiletextcontainer {
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
}

.gameprofiletextcontainer p {
    margin-bottom: 20px;
}

.gameprofiletext {
    display: flex;
    border-bottom: 1px solid #5a5a5a;
}

.gamegenrekey {
    margin-right: 10px;
    color: #8b8b8b;
    text-align: right;
    width: 50%;
}

.gamegenrevalue {
    color: white;
    width: 50%;
}

.gametitle {
    font-family: Play,Arial,sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
}

.gamerating {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.comment {
    display: flex;
    justify-content: space-between;
}

.out {
    font-weight: bold;
}

.gameitemcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.infocard {
    background-color: rgba(0,0,0,.5);
    color: #cbcbcb;
    padding: 27px 25px;
    margin-right: 20px;
}

.infocard .key {
    list-style: none;
    background: url(images/3-1.svg) no-repeat 0 0px;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.infocard .checkmark {
    list-style: none;
    background: url(images/1-1.svg) no-repeat 0 0px;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.infocard .letter {
    list-style: none;
    background: url(images/2-2.svg) no-repeat 0 0px;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.infocard .procent {
    list-style: none;
    background: url(images/4-4.svg) no-repeat 0 0px;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.shopcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
}

.buttoncontainer a {
    color: white;
}

.buy {
    background-color: #0094e9;
    padding: 20px 80px;
    font-family: Play,Arial,sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    background-image: linear-gradient(to left, transparent, transparent 50%, #ff4148 50%, #ff793a);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

.buy:hover {
    background-position: 0 0;
}

.addtocart {
    background-color: rgba(0,0,0,.5);
    border: none;
    width: 80px;
    height: 80px;
}

.addtocart:hover svg {
    transform: scale(1.3);
}

.price {
    font-family: Play,Arial,sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
}

.rub {
    font-size: 20px;
}
/*Game profile*/
/* main page */
.main-background-image {
    width: 100vw;
    height: 400px;
    background-image: url(images/mainbackground1.png);
    background-repeat: no-repeat;
    filter: brightness(0.6);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.catalog-container a {

}
.catalog-container.main{
    width: 50%;
}
.backposition {
    position: relative;
}
.shoptitle {
    font-family: Play,Arial,sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #ff4148,#ff793a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shoptitle2 {
    font-family: Play,Arial,sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0px;
    background: linear-gradient(45deg, #ff4148,#ff793a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.discount {
    margin-left: 20px;
    width: 40%;
}
/* main page */
.pagination {
    margin-bottom: 30px;
}
.ordertitle {
    font-family: Play,Arial,sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: dimgrey;
    padding-bottom: 20px;
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* styles for validation helpers */
.tab-item {
    display: flex;
    padding-top: 15px;

}
.tab-key {
    color: #909090;
    min-width: 30%;
}
img{
    vertical-align:baseline;
}
.ordercomplet{
    margin-top: 30px;
    text-align:center;
    font-weight:bold;
    color: tomato;
}

.error-message {
    display: none;
    word-break: break-word;
    width: 300px;
}
.myorders {
    background-color: white;
    height:100px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    display: none;
    height:100px;
}
.noLink {
    pointer-events: none;
    background-color: gray;
}
.yesLink {
    pointer-events: auto;
}
.displaynone{
    display:none;
}
.displayflex {
    display:flex;
    align-items:center;
    justify-content:center;
}
.ordercount {
    position: absolute;
    background-color: #f91155;
    padding: 2px 6px;
    border-radius: 50%;
    color: white;
    right: 6px;
    top: 15px;
}
.displayblock {
    display: block;
}
.icon.menu{
    position: relative;
}
